:root {

    --corback: rgb(6, 6, 40);
    --corp: #A5B9E8;
    --corbackto: #07256B;
    --cortitulos: white;
    --corlogo: rgba(255, 140, 0, 0.816);

    --font-oswald: 'Oswald', sans-serif;
    --font-roboto: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
}

body {
    background-image:linear-gradient(to bottom, rgb(8, 8, 35), rgb(6, 6, 40));
    font-family: var(--cortitulos);
    font-weight: medium;
    
    height: 150vh;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin: 0 20px;
    margin-bottom: 90px;
    padding: 0 20px;
}

/*navegação*/
.navegacao {
    font-family: var(--font-oswald);
    font-weight: medium;

    display: flex;
    align-self: flex-start;
}

/*navegação suspensa*/
.navegacao > span {
    color: var(--corp);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-top: 2px var(--corp) solid;
    cursor: pointer;

    position: relative;
    width: 100px;

    padding-top: 4px;
}

.navegacao > .lista {
    display: none;
}

.navegacao:hover > .lista {
    display: block;
}

/*submenu*/
.lista {
    position: absolute;
    top: 28px;

    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    flex-wrap: wrap;

    background-color: var(--corbackto);
    padding: 5px;

    border-bottom: 2px #A5B9E8 solid;
    width: 100px;
    max-height: 150px;

    position: absolute;
    top: 30px;
}

.lista a {
    color: var(--corp);
    font-weight: lighter;
}

.lista a li {
    text-indent: 1px;
    display: block;
    line-height: 2rem;

    width: 5rem;
    padding: 0 4px;

    position: relative;

}

.lista a li::after {
    content: " ";
    width: 0%;
    height: 1px;
    background-color: #A5B9E8;

    position: absolute;
    bottom: 0;
    left: 0;

    transition: .5s ease-in-out;

}

.lista a li:hover::after {
    width: 100%;
}
/*fim menu susoenso*/

/*titulo MOVIE*/

.logo {
    font-family: var(--font-oswald);
    font-size: medium;
    font-size: 40px;
    color:var(--corlogo);

    justify-content: center;
    align-self: center;

    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.434);
}

.logo h1 {
    padding: 0 20%;
}

.logo label {
    display: none;
}

#pesquisa {
    border: none;
    border-bottom: 2px solid var(--corbackto);
    outline: none;
    font-family: var(--font-roboto);
    font-size: 1.2rem;
    color: white;

    width: 350px;
    height: 50px;
    background-color: #222f5149;

    border-radius: 5px;
    padding: 0 8px;
    margin: 4px;

    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.396);
}

/*fim header*/

/*main*/

main {
    margin: 0px auto 200px auto;

    height: 100vh;
    width: 850px;

    display: flex;
    flex-direction: column;
}

main > h1 {
    display: inline;
    width: max-content;
    height: 50px;
    justify-self: flex-start;
    align-self: flex-start ;

    margin: 18px 0;
    margin-bottom: 20px;

    font-family: var(--font-oswald);
    font-weight: medium;
    font-size: 28px;
    color: white;
}

.maxconteiner {

    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    max-width: 1000px;
    margin: 0 auto;
}

.maxconteiner::before {
    content: " ";
    width: 100%;
    height: 1px;

    border-bottom: 1px solid var(--corp);

    padding: 2px 0 ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: max-content;
    max-height: min-content;

    background-color: var(--corp);
    border-radius: 8px;
}   

.poster-item .poster-content {
    max-width: 200px;
    border-radius: 8px;
    margin-bottom: 14px;
    padding: 20px;

}

.poster-item .poster-content > img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
} 

.poster-item .poster-content > h2 {
    font-family: var(--font-roboto);
    font-weight: bolder;
    font-size: 1.5rem;
}

.poster-item .poster-content > p {
    font-family: var(--font-roboto);
    font-weight: lighter;
    font-size: .8rem;

    color: black;
    line-height: 15px;
}

/*fim main*/

/*footer*/

footer {
    background-color: black;
    height: 15%;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer > h2, i, p {
    color: var(--corlogo);
}

footer > h2 {
    font-family: var(--font-roboto);
    font-size: 1.3rem;
    color: var(--corlogo);    

}


footer > a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
}

footer > i {
    height: 50px;
    width: 50px;  
    font-size: 50px;
}

footer > p {
    justify-self: baseline;
}




